<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header %>
</head>
<body>
  <main id="main">

      <!-- Header -->
      <haeder class="component__header">
        <div class="header_wrap">
          <a class="button_left icon_logo" href="/"></a>
          <div class="header_title">
            <span>Detail Info</span>
          </div>
      </div>
      </haeder>

      <!-- Page Content -->
      <div class="component__main container">
        <div class="page__detail">
      <div>
          <div class="detail_banner">
              <ul class="swiper-wrapper">
                <% offer.images && offer.images.forEach(function(image) { %>
                <li class="swiper-slide detail_banner_bg" style="background-image: url(<%= image.url %>);"></li>
                <% }) %>
              </ul>
          </div>
          <div class="detail_summary">
              <div class="detail_title"><%= offer.name %></div>
              <div class="detail_table">
                  <div class="detail_middle">
                      <div class="detail_categories">
                          <span><%= filter.type(offer.type) %></span>
                      </div>
                      <div class="detail_area"></div>
                  </div>
                  <div class="detail_right">
                  <div class="detail_favorite icon_favorite_blank"></div>
                      <div class="detail_price"><%= filter.price(offer.price) %></div>
                  </div>
              </div>
          </div>
          <div class="detail_main">
              <h5>About this place</h5>
              <div>
                  <p>Hours: </p>
              </div>
              <div class="detail_location">
                  <div class="detail_location_icon"></div>
                  <div class="detail_location_content">
                      <div class="detail_location_title">Tokyo</div>
                      <div class="detail_location_address">   </div>
                      <div class="detail_location_right">
                          <span>Open with Google Map</span>
                      </div>
                  </div>
              </div>
              <p class="detail_description"><%= offer.description %></p>
          </div>
          <div class="detail_footer">
              <div class="detail_btn btn_large">GET TICKET <%= filter.price(offer.price) %></div>
          </div>
      </div>
    </div>
      </div>
      
      <!-- Footer -->
      <footer class="component__footer">
        <div class="footer_wrap">
    </div>
      </footer>

  </main>
  <!-- script -->
  <% include partials/scripts %>
</body>
</html>